.column{
    width: 25%;
    float: left;
}
.item{
    border-radius: 10px;
    box-shadow: 5px 5px 5px gray;
    padding: 10px;
    margin: 5px;
    text-align: center;
}

.item .ten{
    font-size: larger;
    font-variant:small-caps;
    color: blue;
}

.item img{
    max-width: 95%;
}

.item .gia{
    color: red;
    font-weight: bold;
    font-size: larger;
}

.item .gia del{
    color: gray;
}
img{
    height: 300px;
}