body{
    background-color: rgb(97, 97, 97);
}

/* Counter Program */
/* #number{
    font-size: 10em;
    text-align: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.buttons{
    text-align: center;
}

.button{
    padding: 10px 50px;
    color: white;
    background-color: rgb(42, 84, 252);
    border-radius: 5px;
    font-size: 3em;
    transition: background-color 0.5s;
}

.button:hover{
    background-color: rgb(130, 155, 255);
} */

/* IF ELSE */
/* label{
    font-size: 10em;
}

input{
    font-size: 5em;
} */

/* CHECKED */

/* .checked{

    font-size: 2em;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
#submit{
    font-size: 1em;
} */

