button{
   height: 50px;
    font-size: 1em;
    background-color: rgb(10, 127, 216);
    border-radius: 20px;
    border: none;
}

button:hover{
    background-color: hsl(206, 91%, 54%);
}

button:active{
    background-color: hsl(206, 91%, 64%);
}