* {
    margin: 0;
}

.background {
    position: relative;
    height: 100vh;

}

.text {
    text-align: center;
}

.text h1 {
    padding-top: 100px;
    position: relative;

}

.text p {
    font-size: 50px;
    position: relative;
}

.background::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    background-image: url(Image/Screenshot\ 2024-05-12\ 154342.png);
    opacity: 0.5;
}